body {
    background-color: black;
}

.ball {
    margin: auto;
    color: white;
    text-align: center;
    background-color: rgb(83, 241, 252);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}